.history {
    width: 100%;
    height: 100vh;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #006616;

    .colse-history {
        position: inherit;

        top: 20px;
        right: 20px;

        cursor: pointer;
    }
}